.theme-toggler {
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: color 0.3s ease-out;
  width: 32px;
  height: 32px;
  z-index: 1;
}

.theme-toggler--dark {
  color: rgb(160, 160, 160);
}

.theme-toggler--dark:hover {
  color: rgb(230, 230, 230);
}

.theme-toggler--light {
  color: rgb(10, 10, 10);
}

.theme-toggler--light:hover {
  color: rgb(80, 80, 80);
}

.theme-toggler ion-icon {
  font-size: 32px;
}
