@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: rgb(85, 89, 128);
}

/* ::-webkit-scrollbar {
  display: none;
}

:root {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
} */

html {
  font-family: "Raleway", sans-serif;
}

.canvas-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: background 0.3s;
  z-index: -1;
}

.canvas-container--dark {
  background: rgb(43, 42, 45);
}

.canvas-container--light {
  background: rgb(236, 239, 241);
}

.landing-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.background-blur {
  backdrop-filter: blur(16px);
}

.background-blur--dark {
  background: radial-gradient(
    at 30% 70%,
    rgba(54, 53, 58, 0.3) 0%,
    rgba(113, 111, 117, 0.3) 100%
  );
  backdrop-filter: blur(16px);
}

.background-blur--light {
  background: radial-gradient(
    at 30% 70%,
    rgba(226, 226, 226, 0.3) 0%,
    rgba(211, 211, 211, 0.3) 100%
  );
  backdrop-filter: blur(16px);
}

.uni-title,
.job-title {
  font-weight: 200;
  font-size: 1.4rem;
}

.degree-description,
.job-description {
  font-weight: 200;
  font-style: italic;
  font-size: 1rem;
}

.degree-description ul,
.job-description ul {
  list-style-type: square;
  font-style: normal;
}

.tag {
  font-weight: 200;
  border-radius: 0.5rem;
  border-width: 1px;
  width: fit-content;
  height: fit-content;
  padding: 1rem 0.75rem;
  transition: border-color 0.3s;
}

.tag--dark {
  color: rgb(229 229 229);
  border-color: rgb(163 163 163);
}

.tag--dark:hover {
  border-color: rgb(229 229 229);
}

.tag--light {
  color: rgb(23 23 23);
  border-color: rgb(115, 115, 115);
}

.tag--light:hover {
  border-color: rgb(23 23 23);
}

.navbar {
  width: 400px;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding-right: 72px;
  padding-top: 72px;
  position: fixed;
  top: 0px;
  left: 0px;
  align-items: flex-end;
  font-size: 2.5rem;
  color: white;
  gap: 10px;
  transition: transform 0.5s cubic-bezier(0.2, 0.2, 0.2, 1);
  transform: translateX(-100%);
}

.navbar--expanded {
  transform: translateX(0);
}

.navbar-menu {
  transition: color 0.3s;
  width: 32px;
  height: 32px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.navbar-menu--dark {
  color: white;
}

.navbar-menu--light {
  color: black;
}

.navlink {
  color: #dddddd;
  transition: transform 0.5s cubic-bezier(0.2, 0.2, 0.2, 1), color 0.3s;
  transform: translateX(-100%);
}

.navlink:hover {
  color: #ffffff;
}

.navlink--expanded {
  transform: translateX(0);
}

.transition-screen {
  background-color: #343439;
  z-index: 50;
  position: fixed;
  width: 100vw;
}

.contact-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15vh;
}

.contact-form__input {
  width: 100%;
  margin-top: 1rem;
  height: 4rem;
  border-bottom: 1px solid #bbb;
  background-color: transparent;
  color: #eee;
  transition: background-color 0.3s, padding 0.15s;
  font-size: 1.4rem;
}

.contact-form__input:focus {
  outline: none;
  border: none;
  padding: 0 1rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.contact-form__button {
  width: fit-content;
  height: 4rem;
  margin-top: 1rem;
  color: #eee;
  border-bottom: 1px solid #bbb;
  transition: background-color 0.3s, padding 0.15s;
  font-size: 1.2rem;
}

.contact-form__button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 1rem;
}

.contact-title {
  font-size: 6rem;
  font-weight: 100;
  margin-top: 15vh;
}

.contact-title--dark {
  color: #eee;
}

.contact-title--light {
  color: #222;
}

@media (max-width: 640px) {
  .contact-title {
    font-size: 3rem;
  }
}
