@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text-dark: rgb(64 64 64);
  --color-text-darker: rgb(23 23 23);
  --color-text-light: rgb(163 163 163);
  --color-text-lighter: rgb(229 229 229);
}

::selection {
  background: rgb(85, 89, 128);
}

/* ::-webkit-scrollbar {
  display: none;
}

:root {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
} */

body {
  overflow-x: hidden;
}

html {
  font-family: "Raleway", sans-serif;
}

.canvas-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: background 0.3s;
  z-index: -100;
}

.canvas-container--dark {
  background: rgb(43, 42, 45);
}

.canvas-container--light {
  background: rgb(236, 239, 241);
}

.landing-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.background-blur {
  backdrop-filter: blur(16px);
}

.background-blur--dark {
  background: radial-gradient(
    at 30% 70%,
    rgba(54, 53, 58, 0.3) 0%,
    rgba(113, 111, 117, 0.3) 100%
  );
  backdrop-filter: blur(16px);
}

.background-blur--light {
  background: radial-gradient(
    at 30% 70%,
    rgba(226, 226, 226, 0.3) 0%,
    rgba(211, 211, 211, 0.3) 100%
  );
  backdrop-filter: blur(16px);
}

.uni-title,
.job-title {
  font-weight: 200;
  font-size: 1.4rem;
}

.degree-description,
.job-description {
  font-weight: 200;
  font-style: italic;
  font-size: 1rem;
}

.degree-description ul,
.job-description ul {
  list-style-type: square;
  font-style: normal;
}

.tag {
  font-weight: 200;
  border-radius: 0.5rem;
  border-width: 1px;
  width: fit-content;
  height: fit-content;
  padding: 1rem 0.75rem;
  transition: border-color 0.3s;
}

.tag--dark {
  color: rgb(229 229 229);
  border-color: rgb(163 163 163);
}

.tag--dark:hover {
  border-color: rgb(229 229 229);
}

.tag--light {
  color: rgb(23 23 23);
  border-color: rgb(115, 115, 115);
}

.tag--light:hover {
  border-color: rgb(23 23 23);
}

/* About Page */

.hero-section {
  height: 100vh;
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 2rem;
}

.short-description {
  font-size: 2rem;
  font-weight: 200;
  position: relative;
  left: 9px;
  top: -6vh;
}

.hero-text {
  font-size: 8rem;
  font-weight: 100;
  line-height: 8rem;
  margin-bottom: 2rem;
  position: relative;
  top: -6vh;
}

.text--dark {
  color: var(--color-text-lighter);
}

.text--light {
  color: var(--color-text-dark);
}

@media screen and (max-width: 768px) {
  .hero-text {
    font-size: 6rem;
    line-height: 5rem;
    margin-bottom: 1rem;
  }

  .short-description {
    font-size: 1.6rem;
    position: relative;
    left: 0px;
  }
}

@media screen and (max-width: 480px) {
  .hero-text {
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 1rem;
  }

  .short-description {
    font-size: 1.6rem;
    position: relative;
    left: 0px;
  }
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

.my-picture-container {
  width: 500px;
  height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.4);
  position: absolute;
  left: calc(50% - 600px);
}

.my-picture {
  width: 600px;
  height: 600px;
  object-fit: cover;
}

.summary {
  position: absolute;
  left: calc(50% - 220px);
  width: 100%;
  max-width: 600px;
}

.summary-title {
  font-size: 8rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

.summary-content {
  font-size: 2rem;
  position: relative;
  left: 170px;
  font-weight: 300;
}

@media screen and (max-width: 1280px) {
  .summary {
    max-width: 500px;
  }

  .summary-title {
    font-size: 7rem;
  }
}

@media screen and (max-width: 1024px) {
  .my-picture-container {
    width: 400px;
    height: 500px;
    left: calc(50% - 450px);
  }

  .my-picture {
    width: 500px;
    height: 500px;
  }

  .summary {
    max-width: 400px;
    left: calc(50% - 140px);
  }

  .summary-title {
    font-size: 5rem;
  }

  .summary-content {
    font-size: 1.5rem;
    left: 120px;
  }
}

@media screen and (max-width: 768px) {
  .my-picture-container {
    width: 400px;
    height: 500px;
    left: calc(50% - 450px);
  }

  .my-picture {
    width: 500px;
    height: 500px;
  }

  .summary {
    max-width: 300px;
    left: calc(50% - 120px);
  }

  .summary-title {
    font-size: 4.2rem;
  }

  .summary-content {
    font-size: 1.5rem;
    left: 100px;
  }
}

@media screen and (max-width: 640px) {
  .about-section {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    position: relative;
    flex-direction: column;
  }

  .my-picture-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.4);
    position: initial;
  }

  .my-picture {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .summary {
    width: 100%;
    position: initial;
    padding: 2rem;
    margin-bottom: 10rem;
    max-width: 100%;
  }

  .summary-title {
    font-size: 4rem;
    position: initial;
  }

  .summary-content {
    font-size: 1.6rem;
    position: initial;
  }
}

/* Skill Section */

.skill-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  margin: auto;
  justify-content: center;
}

.skill-section-title {
  text-align: center;
  font-size: 8rem;
  font-weight: 100;
}

.skill-group-container {
  margin: 0.5rem;
  backdrop-filter: blur(16px);
  height: fit-content;
}

.skill-group__label {
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.05);
}

.skills-container {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.skill {
  font-size: 1.4rem;
  font-weight: 200;
  padding: 1rem;
  transition: background-color 0.3s;
  text-align: center;
}

.skill:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 1280px) {
  .skill-section-title {
    font-size: 7rem;
  }
}

@media screen and (max-width: 1024px) {
  .skill-section-title {
    font-size: 6rem;
  }

  .skill-group__label {
    font-size: 1.8rem;
    background-color: rgba(0, 0, 0, 0.05);
  }

  .skill {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .skill-section-title {
    font-size: 4rem;
  }
}

/* Navbar and Transition Screen */

.navbar {
  width: 400px;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding-right: 72px;
  padding-top: 72px;
  position: fixed;
  top: 0px;
  left: 0px;
  align-items: flex-end;
  font-size: 2.5rem;
  color: white;
  gap: 10px;
  transition: transform 0.5s cubic-bezier(0.2, 0.2, 0.2, 1);
  transform: translateX(-100%);
}

.navbar--expanded {
  transform: translateX(0);
}

.navbar-menu {
  transition: color 0.3s;
  width: 32px;
  height: 32px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.navbar-menu--dark {
  color: white;
}

.navbar-menu--light {
  color: black;
}

.navlink {
  color: #dddddd;
  transition: transform 0.5s cubic-bezier(0.2, 0.2, 0.2, 1), color 0.3s;
  transform: translateX(-100%);
}

.navlink:hover {
  color: #ffffff;
}

.navlink--expanded {
  transform: translateX(0);
}

.transition-screen {
  background-color: #343439;
  z-index: 50;
  position: fixed;
  width: 100vw;
}

/* Contact Page */

.contact-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15vh;
}

.contact-form__input {
  width: 100%;
  margin-top: 1rem;
  height: 4rem;
  border-bottom: 1px solid #bbb;
  background-color: transparent;
  color: #eee;
  transition: background-color 0.3s, padding 0.15s;
  font-size: 1.4rem;
}

.contact-form__input:focus {
  outline: none;
  border: none;
  padding: 0 1rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.contact-form__button {
  width: fit-content;
  height: 4rem;
  margin-top: 1rem;
  color: #eee;
  border-bottom: 1px solid #bbb;
  transition: background-color 0.3s, padding 0.15s;
  font-size: 1.2rem;
}

.contact-form__button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 1rem;
}

.contact-title {
  font-size: 6rem;
  font-weight: 100;
  margin-top: 15vh;
}

.contact-title--dark {
  color: #eee;
}

.contact-title--light {
  color: #222;
}

@media (max-width: 640px) {
  .contact-title {
    font-size: 3rem;
  }
}
